<nav class="w-full p-4 bg-brandGreen text-white flex justify-between">
  <a href="/" class="font-bold">Trailblazer Analytics</a>
  <div class="space-x-4">
    <a href="/about" class="hover:text-brandGold">About</a>
    <a href="/services" class="hover:text-brandGold">Services</a>
    <a href="/contact" class="hover:text-brandGold">Contact</a>
    <a href="/blog" class="hover:text-brandGold">Blog</a>
  </div>
</nav>
